# Advanced Querying Mongo

Importing libraries and setting up connection

In [60]:
import pymongo
from pymongo import MongoClient
client = MongoClient("mongodb://localhost", 27017)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [64]:
client.list_database_names()

['admin', 'alojamientos', 'config', 'local']

In [65]:
mydb = client["companies"]
coleccion = mydb.detalles

In [67]:
client.list_database_names()

['admin', 'alojamientos', 'companies', 'config', 'local']

In [68]:
import pandas as pd

In [74]:
df_json = pd.read_json("../companies.json", lines=True)
df_json.head(5)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,{'$oid': '52cdef7c4bab8bd675297d8a'},Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,{'$oid': '52cdef7c4bab8bd675297d8b'},AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,{'$oid': '52cdef7c4bab8bd675297d8c'},Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,{'$oid': '52cdef7c4bab8bd675297d8d'},Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,{'$oid': '52cdef7c4bab8bd675297d8e'},Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."

In [73]:
mydb = client["companies"]
coleccion = mydb.detalles
coleccion.insert_many([df_json.to_dict("detalles")])

/var/folders/lp/q6v12hf56txcxrk49r3k95_c0000gn/T/ipykernel_2815/2513666701.py:3: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  coleccion.insert_many([df_json.to_dict("detalles")])

InvalidDocument: documents must have only string keys, key was 0

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [28]:
# Your Code
list(ejercicio.find({"name":"Babelgum"}, { "name": 1, "_id": 0 }))
#no entiendo la pregunta: me pides que saque las empresas que se llamen Babelgum y que solo salga Babelgum?

[]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
# Your Code
mayor = pd.DataFrame(coleccion.find({"number_of_employees": {"$gt": 5000}})).limit(20).sort("number_of_employees", 1))
mayor.head(2)
#el limit antes del sort afecta?

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
# Your Code
cond1 = {"founded_year": {"$gte": 2000}}
cond2 = {"founded_year": {"$lte": 2005}}
list(coleccion.find({"$and": [cond1, cond2]}, { "name": 1, "founded_year": 1, "_id": 0 }))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
# Your Code
cond3 = {"ipo.valuation_amount": {"$gt": 100000000}} #no incluyo 100 K
cond4 = {"founded_year": {"$lt": 2010}} #no incluyo 2010
list(coleccion.find({"$and": [cond3, cond4]}, { "name": 1, "ipo": 1, "_id": 0 }))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code
cond5 = {"ipo.number_of_employees": {"$lt": 1000}} #no incluyo 1000
cond6 = {"founded_year": {"$lt": 2005}} #no incluyo 2005
list(coleccion.find(({"$and": [cond5, cond6]})).sort("number_of_employees", -1).limit(10))

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code
list(coleccion.find({"partners": {"$exists": False}}))

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code
list(coleccion.find({"category_code": {"$type": "null"}}))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code
cond7 = {"number_of_employees": {"$gte": 100}} #incluyo los 100
cond8 = {"number_of_employees": {"$lt": 1000}} #no incluyo los 1000
list(coleccion.find({"$and": [cond7, cond8]}, { "name": 1, "number_of_employees": 1, "_id": 0 }))

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code
list(coleccion.find().sort("ipo.valuation_amount", -1))[:3]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code
list(coleccion.find().sort("number_of_employees", -1).limit(10)) #descendente -> empieza por el max --> solo muestro 10

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code
list(coleccion.find({"founded_month": {"$gt":7}}).limit(1000))[:3]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code
cond9 = {"founded_year": {"$lte": 2000}}
cond10 = {"acquisition.price_amount": {"$lt": 10000000}} #voy a buscar 10 000 000 (y no 10 000 00)
list(coleccion.find({"$and": [cond9, cond10]}))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code
list(coleccion.find({"acquisition.acquired_year": {"$gte": 2010}}, {"name": 1, "acquisition": 1, "_id": 0 }))[:5]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code
list(coleccion.find({}, {"name": 1, "founded_year": 1, "_id": 0 }).sort("founded_year", 1))[:3]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code
list(coleccion.find({"founded_day": {"$lte": 7}}).sort("acquisition.price_amount", -1).limit(10))[:3]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code
cond11= {{"category_code": "web"}}
cond12= {"founded_day": {"$gt": 4000}}
list(coleccion.find({"$and": [cond11, cond12]}).sort("number_of_employees", 1))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code
cond13= {"acquisition.price_amount": {"$lt": 10000000}}
cond14= {"acquistion.price_currency_code": "EUR"}
list(coleccion.find({"$and": [cond13, cond14]}))[:5]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code
list(coleccion.find({"founded_month": {"$gte":3}}, {"name": 1, "acquisition": 1, "_id": 0 }).limit(10))

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code
bcond1= {"founded_year": {"$gte": 2000}} #incluyo lo aÃ±os de creacion
bcond2= {"founded_year": {"$lte": 2010}}
bcond3= {"acquisition.acquired_year": {"$gt": 2011}} # que sea mayor que 2011 asi no ponemos otras condicion mas
list(coleccion.find({"$and": [bcond1, bcond2, bcond3]}))[:5]

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code
list(coleccion.find({"acquistion.deadpooled_year" : {"$gte":3}}))[:5]